body,html{
    margin: 0;
    padding: 0;
    background: gray;
}
*{
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 100px;
}

.logo{
    background-color: tomato;
    width: 120px;
    height: 120px;
    margin-left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 10;
}
.logoTitle{
    width: 800px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
.logoTitle>span:nth-child(1){
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    color: white;
    letter-spacing: 20px;
    font-size: 25px;

}
.logoTitle>span:nth-child(2){
    position: absolute;
    left: 60%;
    top: 50%;
    color: goldenrod;
    transform: translate(0,-50%);
    font-size: 20px;
    letter-spacing: 25px;
    
}
/* ------------------------- */
nav div{
    margin-top: 50px;
}

.menu-tools a{
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    color: black;
}
.menu-tools{
    width: 100%;
    height: 30px;
    text-align: center;

}
.menu-tools a{
    margin-left: 75px ;
}
.menu-tools a:hover{
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0 0 10px 5px rgb(221, 221, 221);
}
.background-info{
    background: url(../image/car.jpg)no-repeat;
    background-size: cover;
    height: 600px;
    
}
.background-info>p:nth-child(1){
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 70px;
    padding-top: 80px;
    font-weight: 200px;
    color: white;
}
.background-info>p:nth-child(2){
    text-transform: uppercase;
    font-size: 50px;
    padding-left: 70px;
    padding-top: 10px;
    border: hidden ;
    width: 550px;
    color: white;

}
.background-info>p:nth-child(3){
    padding-left: 70px;
}
.IGTV{
    text-decoration: none;
    color: black;
    border: white solid;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    color: white;
    transition: 1s;
}
.IGTV:hover{
    background-color: rgb(102, 128, 172);
}

/* --------------- */
.card-photo{
    width: 100%;
    height: 300px;
    position: relative;
}
.cards{
    width: 25%;
    height: 200px;
    position: relative;
    /* background-color: red; */
    margin-left: 6.25% ;
    float: left;
    margin-top: 50px;
}
.car-icon{
    width: 50%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: white; */
    transition: 2s;
    opacity: 0;
    overflow: hidden;
}
.car-icon::before{
    content: "";
    height: 200px;
    position: absolute;
    float: left;
    /* margin-left: 6.25%; */
    /* background-color: brown; */
    box-shadow: 1px 1px 30px 15px  white;
    left: -40%;
    transition: 3s;
    /* transition-delay: 1s; */
}
.car-icon:hover::before{
    left: 140%;
}

#car-icon-img1{
    background: url(CarsIcon/mercedes.png) center/cover no-repeat;
}
#car-icon-img2{

}
#car-icon-img3{

}
.cards:hover .car-icon{
    opacity: 1;
}
.cards>p{
    text-align: center;
    margin-top: 22%;
    font-size: 25px;
}
/* ----------- background-details-------------- */

.size{
    position: absolute;
    width: 50%;
    height: 50%;
    transition: 1s;
    background-color: rgba(10, 161, 255, 0.825);
}
.cards:hover .size{
    border-radius: 50%;
    width: 35%;
}
.background-details1{
    left: 50%;
    top: 0;
}
.background-details2{
    top: 50%;
    left: 0;
}
.background-details3{
    left: 50%;
    top: 50%;
}
.background-details4{
    left: 0;
    top: 0;
}
/* ---------- */
/* -------------- */
.cards:hover .background-details1{
    left: 80%;
    top: -10%;
}
.cards:hover .background-details2{
    top: 60%;
    left: -20%;
}
.cards:hover .background-details3{
    left: 80%;
    top: 60%;
}
.cards:hover .background-details4{
    top: -10%;
    left: -20%;
}

.after::after{
    content: "";
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(img/hdmercedes.jpg);
    opacity: 1;
    transition: 1s;
}
.background-details1::after{
    background-position: top right;
}
.background-details2::after{
    background-position: left bottom;
}
.background-details3::after{
    background-position: bottom right;
}
.background-details4::after{
    background-position: top left;
}
.cards:hover .after::after{
    border-radius: 50%;
    opacity: 0;
}

/* .buttom{
    width: 100px;
    height: 40px;
    background-color: gray;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid black;
    text-align: center;
} */
.cards div>p{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.img-detail{
    width: 40%;
    height: 50%;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.car-engine{
    background: url(icon/car-engine.png) center center/cover no-repeat;
}
.hp{
    background: url(icon/horse.png) center center/cover no-repeat;
}
.output{
    background: url(icon/output.png) center center/cover no-repeat;
}
.performance{
    background: url(icon/performance.png) center center/cover no-repeat;
}
.text-detail{
    position: absolute;
    top: 50%;
}
/* .link{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    
} */


















/* ---------------------- */

.login-email{
    border: hidden;
    height: 150px;
    background: gainsboro;
    display: flex;
    position: relative;
    /* padding-top: 10px; */
    
}
.login-text p{
    position: absolute;
    text-align: center;
    width: 30%;
    font-size: 30px;
    margin: 0%;
    top: 50%;
    transform: translate(0,-50%);
}
.login-email>div:nth-child(2){
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.sign-in{
    font-size: 15px;
    transition: 1s;
}
.sign-in:hover{
    background-color: rgb(102, 128, 172);
}
.login-box{
    position: absolute;
    left: 40%;
}
.login-box input{
    border: solid 1px black;
    border-radius: 8px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
}
/* ----------- end if login form----------- */

.background-fixed{
    width: 100%;
    height: 500px;
    /* display: flex; */
    position: relative;
    background-color: blue;
    background: url(img/background\,flex.jpg) center center/cover no-repeat;
}
.social-media{
    
}

.img-b{
    border: hidden;
    width: 210px;
    min-height: 200px;
    border-radius: 50%;
    padding: 30px;
}
.p-img{
    border: hidden;
    width: 800px;  
    padding-left: 30px;
    padding-top: 30px;
}
.div-pic{
    background: url(../image/51.jpg);
    background-size: cover;
}
.div-pic2{
    background: url(../image/54.jpg);
    background-size: cover;
}
.div-pic3{
    background: url(../image/53.jpg);
    background-size: cover;
}

main{
    display: flex;
    height: 250px;

}
.div-text{
    color: white;
    border: hidden;
    background: rgba(253, 243, 243, 0.3);
    padding-top: 0px;
    text-align: center;

}
.social-media{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: red;
}
.media{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50%;
    transform: translate(0,-60%);
    /* padding: 50px; */
    background-color: aqua ;
    

}
.footer{
    background: gainsboro;
    height: 280px;
    display: flex;
}
.div-foot{
    border: hidden ;
    width: 180px;
}
.a-foot{
    display: inline-block;
    padding-left: 250px;
    text-decoration: none;
    color: blueviolet;
    margin: 10px;
    text-transform: uppercase;
}
.div-foot{
    padding-left: 180px;
}
#icon{
    color: red;
    font-size: 60px;
}
.overlay{
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 25%;
    margin-left: 3px;

}
.overlay img{
    width: 100%;

}
.overlay-text{
    height: 100%;
    position: absolute;
    background-color: blueviolet;
    color: red;

}
.overlay:hover .overlay-text{
    opacity: 1;
}